variables:
  group: 'pipelines'

pool:
  vmImage: 'ubuntu-16.04'

steps:
- bash: |
    ls
    echo $(iofogctl-snapshot-packagecloud-token)
    curl -s https://$(iofogctl-snapshot-packagecloud-token):@packagecloud.io/install/repositories/iofog/iofogctl-snapshots/script.deb.sh | sudo bash
    sudo apt-get install iofogctl=0.0.3-b1504
    iofogctl version
  displayName: 'Install iofogctl'

- task: charleszipp.azure-pipelines-tasks-terraform.azure-pipelines-tasks-terraform-installer.TerraformInstaller@0
  inputs:
    terraformVersion: 0.11.14
  displayName: 'Install Terraform'

- task: DownloadSecureFile@1
  displayName: 'Download secure file'
  inputs:
    secureFile: 'azure-gcp.json'

- bash: |
    repo=$(lsb_release -c -s)
    echo $repo
    echo "deb http://packages.cloud.google.com/apt $repo main" | sudo tee -a /etc/apt/sources.list.d/google-cloud-sdk.list
    curl https://packages.cloud.google.com/apt/doc/apt-key.gpg | sudo apt-key add -
    sudo apt-get update && sudo apt-get install google-cloud-sdk

    gcloud --quiet auth activate-service-account --key-file=$(Agent.TempDirectory)/azure-gcp.json
    gcloud --quiet config set project focal-freedom-236620
  displayName: 'set up gcloud'

- task: DownloadSecureFile@1 
  inputs:
    secureFile: 'azure_ssh_key'
  displayName: 'Download secure file for ssh access for agents'

- task: DownloadSecureFile@1
  inputs:
    secureFile: packet.token
  displayName: 'Download secure file for packet provider authentication'

- bash: |
    echo 'change ssh key file permissions'
    chmod 400 $(Agent.TempDirectory)/azure_ssh_key
    echo 'move packet file to appropriate directory'
    cp $(Agent.TempDirectory)/packet.token $(System.DefaultWorkingDirectory)/_eclipse-iofog_platform/infrastructure/environments_gke/packet.token
    echo 'Running Terraform init...'
    terraform init
  workingDirectory: '$(System.DefaultWorkingDirectory)/_eclipse-iofog_platform/infrastructure/environments_gke/develop'
  displayName: 'Terraform Init'

- bash: |
    echo 'set package cloud token as env var needed for agent installation'
    export PACKAGE_CLOUD_TOKEN=$(package_cloud_credentials)
    
    echo 'Running Terraform apply...'
    terraform apply -var-file=vars.tfvars -var ssh_key=$(Agent.TempDirectory)/azure_ssh_key -auto-approve
  workingDirectory: '$(System.DefaultWorkingDirectory)/_eclipse-iofog_platform/infrastructure/environments_gke/develop'
  displayName: 'Terraform Apply'

- task: DownloadSecureFile@1
  displayName: 'Download secure file - healthcare microservice app config'
  inputs:
    secureFile: 'develop-msv-config.yaml'

- bash: './install.sh $(Agent.TempDirectory)/develop-msv-config.yaml'
  workingDirectory: '$(System.DefaultWorkingDirectory)/_Edgeworx_ProductDemos'
  displayName: 'Deploy microservice'